---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Our technical writing process ensures that writers work in sync with the development teams and strive to complete their work in the same sprint.";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Our Technical Writing Process"
      description={description}
    />
    <Accordion />
  </div>
</Section>